[Unit]
Description=Service which runs Node Exporter for Prometheus scraping

[Service]
User=prometheus
ExecStart=/usr/bin/node-exporter

[Install]
WantedBy=multi-user.target
